/* Universal Styles */
body {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background: url(http://www.pptbackgrounds.org/uploads/yellow-autumn-powerpoint-backgrounds.jpg);
  font-family: arial;
  text-align: center;
    }

.image-container {
  max-width: 100%;
  height: auto;
  align-items: center;
}

.image-container img {
  width: 540px;
  height: auto;
  align-items: center;
     }

/* Banner Section */

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: Black;
}

#banner h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-decoration: underline; 
  color: Black;
}

/* Blog Post */

#blog {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: Black;
}

#blog .post {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 1rem;
  text-align: left;
  line-height: 1.8;
  color: Black;
  }

.post h2, h3 {
  text-align: left;
  font-size: 20px;
  color: Black;
 }

.post .opening-line {
  margin-top: 4.1875rem;
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: Black;
}

.post .image-container {

}

/* Blog Images */

.images {
}
.images .image-container {
  display: block;
  max-width: 100%;
  height: auto;
}
img.resize {
    width:540px;
    height: auto;
  }
/* Footer */

footer {
  padding: 4rem 0;
  border-top: 1px solid #999999;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: Black;
}
